In [13]:
import pandas as pd
import numpy as np
import os
import wrds
import matplotlib.pyplot as plt
import statsmodels.api as sm

# Task 1. Reading Data
- Read compustat and returns data and store them in dataframes which can be used later. For now you can only work with daily returns we can work with compustat later when its required but still giving the manual
- This is the entire database from 1983 onwards with returns are in daily format and compustat data in quarterly format
- For returns -> Go to WRDS >  Home > Get Data > CRSP > Annual Update > Stock / Security Files > Daily Stock File
- For compustat -> Go to WRDS >  Home > Get Data > CRSP > Annual Update > CRSP/Compustat Merged > Security Daily
- Filter on date for both databases from 1983-Jan-01 to 2022-Dec-30
- Save the two files as daily_returns.csv and compustat_merged_stocks.csv respectively

In [10]:
# compustat_df = pd.read_csv('compustat_merged_stocks.csv')
# print(compustat_df)

# List all files in the directory
returns_df = pd.read_csv('daily_returns.csv')
returns_df.columns = [col.lower() for col in returns_df.columns]
returns_df

C:\Users\food4thought\AppData\Local\Temp\ipykernel_9120\3099891769.py:5: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  returns_df = pd.read_csv('daily_returns.csv')

,permno,date,shrcd,ticker,comnam,dlprc,dlret,prc,vol,ret,shrout
0,10057,1990-01-02,11.0,AMT,ACME CLEVELAND CORP,NaN,NaN,11.000,8700.0,0.011494,6291.0
1,10057,1990-01-03,11.0,AMT,ACME CLEVELAND CORP,NaN,NaN,11.000,6700.0,0.000000,6291.0
2,10057,1990-01-04,11.0,AMT,ACME CLEVELAND CORP,NaN,NaN,11.375,39200.0,0.034091,6291.0
3,10057,1990-01-05,11.0,AMT,ACME CLEVELAND CORP,NaN,NaN,11.500,4000.0,0.010989,6291.0
4,10057,1990-01-08,11.0,AMT,ACME CLEVELAND CORP,NaN,NaN,11.500,4500.0,0.000000,6291.0
...,...,...,...,...,...,...,...,...,...,...,...
6606238,93436,2022-12-23,11.0,TSLA,TESLA INC,NaN,NaN,123.150,166917212.0,-0.017551,3157752.0
6606239,93436,2022-12-27,11.0,TSLA,TESLA INC,NaN,NaN,109.100,208446557.0,-0.114089,3157752.0
6606240,93436,2022-12-28,11.0,TSLA,TESLA INC,NaN,NaN,112.710,220818648.0,0.033089,3157752.0
6606241,93436,2022-12-29,11.0,TSLA,TESLA INC,NaN,NaN,121.820,221592714.0,0.080827,3157752.0
6606242,93436,2022-12-30,11.0,TSLA,TESLA INC,0.0,A,123.180,157632606.0,0.011164,3157752.0

In [7]:
compustat_df = pd.read_csv('compustat_merged_stocks.csv')
compustat_df

C:\Users\food4thought\AppData\Local\Temp\ipykernel_9120\630195750.py:1: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  compustat_df = pd.read_csv('compustat_merged_stocks.csv')

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,iid,datadate,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,1045,P,4,LC,21020,20010,2013-12-09,E,4,2022-08-24,...,4,4512,605.0,600.0,C,TX,0.0,www.aa.com,NaN,NaN
1,1045,P,4,LC,21020,20010,2013-12-09,E,4,2022-06-15,...,4,4512,605.0,600.0,C,TX,0.0,www.aa.com,NaN,NaN
2,1045,P,4,LC,21020,20010,2013-12-09,E,4,2014-08-04,...,4,4512,605.0,600.0,C,TX,0.0,www.aa.com,NaN,NaN
3,1045,P,4,LC,21020,20010,2013-12-09,E,4,2015-04-27,...,4,4512,605.0,600.0,C,TX,0.0,www.aa.com,NaN,NaN
4,1045,P,4,LC,21020,20010,2013-12-09,E,4,2017-08-11,...,4,4512,605.0,600.0,C,TX,0.0,www.aa.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1785935,318728,P,1,LC,16496,55804,2016-12-09,2021-12-31,1,2016-12-15,...,1,6311,NaN,NaN,NaN,NaN,0.0,www.athene.com,2022-01-03,2016-12-09
1785936,318728,P,1,LC,16496,55804,2016-12-09,2021-12-31,1,2016-12-14,...,1,6311,NaN,NaN,NaN,NaN,0.0,www.athene.com,2022-01-03,2016-12-09
1785937,318728,P,1,LC,16496,55804,2016-12-09,2021-12-31,1,2016-12-13,...,1,6311,NaN,NaN,NaN,NaN,0.0,www.athene.com,2022-01-03,2016-12-09
1785938,318728,P,1,LC,16496,55804,2016-12-09,2021-12-31,1,2016-12-12,...,1,6311,NaN,NaN,NaN,NaN,0.0,www.athene.com,2022-01-03,2016-12-09
1785939,318728,P,1,LC,16496,55804,2016-12-09,2021-12-31,1,2016-12-09,...,1,6311,NaN,NaN,NaN,NaN,0.0,www.athene.com,2022-01-03,2016-12-09

# Task 2,3. Create Annual Return Datasets and Market Cap
- Efficient function for rolling product over a window = cumulative product of entire series / cumulative product shifted by window size
- Groupby ticker the dataset and calculate the cumulative return over 250 days for annual return series
- Market cap is shrout * prc

In [12]:
def rolling_prod(series, window):
    """
    Compute rolling product over a window for a given series.
    """
    # Compute rolling product for entire series first
    rolling_cumprod = series.cumprod()

    # Compute rolling product over a given window by dividing the rolling cumprod at
    # the end of the window by the rolling cumprod at the beginning of the window
    return rolling_cumprod / rolling_cumprod.shift(window)

annual_returns = []
ticker_groups = returns_df.groupby('ticker')
returns_df['ret'] = pd.to_numeric(returns_df['ret'], errors='coerce')
for ticker, group in ticker_groups:
    df = group.copy()
    df['date'] = pd.to_datetime(df['date'])
    df['annual_ret'] = rolling_prod((1 + df['ret']), 250) - 1
    df['market_cap'] = df['shrout'] * df['prc'] * 1000
    annual_returns.append(df.dropna(subset=['annual_ret']))
    print(f"{ticker} ", end=' ')
annual_returns = pd.concat(annual_returns, ignore_index=True)
annual_returns

A  AA  AAL  AAP  AAPL  AAS  ABBV  ABC  ABD  ABI  ABIG  ABK  ABMD  ABS  ABX  ACAD  ACAP  ACAS  ACC  ACCOB  ACE  ACEE  ACGL  ACK  ACL  ACN  ACR  ACS  ACSA  ACT  ACV  ADBE  ADCT  ADM  ADNT  ADP  ADPT  ADSK  ADT  ADTL  AEE  AEP  AES  AESC  AET  AFA  AFL  AFS  AGC  AGL  AGN  AHA  AHAA  AHC  AHP  AIC  AIF  AIG  AIH  AIU  AIV  AIZ  AJG  AKAM  AL  ALD  ALGN  ALK  ALL  ALLE  ALM  ALPN  ALRE  ALREF  ALT  ALTR  ALTX  ALXN  AMAT  AMB  AMCC  AMCR  AMCRY  AMD  AMED  AMER  AMG  AMGN  AMP  AMR  AMSG  AMSGA  AMT  AMZN  AN  ANDV  ANDW  ANET  ANF  ANG  ANL  ANR  ANSS  ANTM  AOC  AOL  AON  AOS  APA  APC  APCC  APD  APH  APLD  APOL  APOLA  APTV  AQS  ARE  ARG  ARNC  ASD  ASH  ASHC  ASN  ASO  AT  ATC  ATG  ATGE  ATH  ATI  ATM  ATO  ATTW  ATVI  AUD  AV  AVB  AVGO  AVGP  AVY  AVZ  AW  AWE  AWIN  AWK  AXF  AXP  AYA  AYE  AYI  AYP  AZO  BA  BAC  BALL  BAX  BBK  BBT  BBWI  BBY  BC  BCC  BCR  BDX  BEAM  BEL  BEM  BEN  BER  BF  BFO  BGE  BGEN  BGG  BH  BHCO  BHF  BHGE  BHI  BHR  BHY  BIG  BIIB  BIO  BJS  BK  BKB  BKLY  BKNG  BKR  BLI  BLK  BLL  BLS  BMC  BMCS  BMM  BMS  BMY  BNI  BNK  BODY  BR  BRCM  BRK  BRL  BRO  BSC  BSX  BTM  BTU  BU  BUD  BUTL  BVC  BVCC  BVFS  BVSN  BWA  BXLT  BXP  BYA  BZC  C  CA  CAG  CALL  CAM  CAR  CARR  CAT  CB  CBCG  CBE  CBG  CBH  CBI  CBNK  CBOE  CBRE  CBRNA  CBRNB  CBS  CBSS  CBZ  CC  CCE  CCEP  CCI  CCK  CCL  CCOM  CCR  CCU  CCUUY  CD  CDA  CDAY  CDB  CDG  CDN  CDNC  CDNS  CDW  CE  CEFT  CEG  CELG  CEN  CEP  CEPH  CERN  CF  CFB  CFC  CFG  CFIP  CFK  CFN  CG  CGP  CHA  CHD  CHHC  CHK  CHL  CHOS  CHP  CHRW  CHTR  CHV  CI  CIEN  CIK  CIN  CINF  CIT  CITU  CL  CLF  CMA  CMB  CMCA  CMCSA  CMCSK  CME  CMGT  CMI  CMS  CMT  CMVT  CMX  CMZ  CNC  CNP  CNS  CNT  CNTE  CNX  CNXC  CNXT  COBA  COC  COFI  COG  COH  COHU  COL  COMS  COO  COOP  COP  COPI  CORT  COST  COTY  COV  COVI  CPB  CPC  CPGX  CPL  CPN  CPQ  CPRI  CPRT  CPT  CPWR  CR  CRCH  CRFC  CRL  CRM  CRON  CS  CSC  CSCO  CSPK  CSR  CSRA  CSX  CTA  CTAS  CTB  CTL  CTLT  CTRA  CTSH  CTVA  CTX  CTXS  CU  CUM  CVC  CVG  CVH  CVS  CVTY  CVX  CWE  CXO  CZN  CZR  CZT  D  DALN  DCN  DD  DDS  DE  DELL  DENRF  DF  DFS  DG  DGX  DH  DHI  DHR  DINO  DIS  DISCA  DJ  DL  DLPH  DLR  DLTR  DLX  DNB  DNR  DNY  DO  DOLR  DOW  DPH  DPS  DPSI  DPZ  DRE  DRHI  DRI  DTE  DTV  DUK  DURI  DV  DVA  DVN  DVRY  DWDP  DWG  DXC  DXCM  DYN  E  EA  EBIX  EC  ECL  ED  EDS  EDT  EEX  EFU  EFX  EGG  EGRP  EHC  EIX  EK  EKO  EL  ELV  EMN  EMR  ENDP  ENE  ENPH  EOG  EOP  EP  EPAM  EPG  EPHC  EQ  EQIX  EQR  EQT  ERI  ERTS  ES  ESRX  ESS  ESV  ET  ETE  ETFC  ETM  ETN  ETR  ETS  ETSY  EVHC  EVRG  EW  EWSC  EXC  EXPD  EXPE  EXR  F  FABC  FANG  FAST  FB  FBF  FBHS  FBIN  FBS  FCX  FD  FDC  FDO  FDS  FDX  FE  FES  FFIV  FHI  FHN  FIGI  FII  FISV  FITB  FIVE  FL  FLIR  FLMN  FLR  FLS  FLT  FMC  FNG  FNM  FNP  FO  FOH  FON  FOSL  FOX  FOXA  FPC  FPL  FQA  FRC  FRE  FRT  FRTR  FRX  FSH  FSL  FSR  FTEN  FTI  FTN  FTNT  FTR  FTU  FTV  FW  G  GAP  GART  GAS  GATE  GBLX  GCI  GCN  GD  GDI  GDT  GDW  GE  GEN  GENZ  GHC  GILD  GIS  GL  GLK  GLW  GM  GMCR  GME  GNG  GNRC  GNW  GOLD  GOOG  GOOGL  GP  GPC  GPN  GPS  GPU  GR  GRA  GRMN  GS  GSAH  GT  GTE  GTW  GWW  GX  H  HAL  HANS  HAR  HAS  HB  HBAN  HBCCA  HBI  HCA  HCBK  HCK  HCLP  HCN  HCP  HCR  HD  HDI  HES  HET  HFC  HFSB  HHH  HI  HIG  HII  HIMG  HISS  HLS  HLT  HM  HMA  HMAIA  HMT  HNZ  HOC  HOG  HOLX  HON  HOT  HOU  HP  HPC  HPE  HPH  HPQ  HRB  HRC  HRL  HRS  HS  HSH  HSIC  HSNI  HSP  HST  HSY  HTH  HUM  HWM  HWP  IAC  IACI  IDID  IDL  IDNX  IDPH  IDX  IDXX  IEX  IFF  IGAM  IGL  IGT  IIN  IKN  IMA  IMNX  IMTN  INCY  INFO  INHL  INTC  INTU  INVH  IP  IPG  IPGP  IPI  IQV  IR  IRET  IRETS  IRM  ISRG  IT  ITG  ITI  ITT  ITW  IVC  IVGN  IVZ  J  JBHT  JBIL  JBL  JDSU  JEC  JEF  JEFG  JEWLY  JHF  JKHY  JNJ  JNPR  JNS  JNY  JOY  JOYG  JP  JPM  JWN  K  KAN  KATE  KBH  KDP  KEYS  KFT  KG  KHC  KHD  KHDH  KIM  KING  KLAC  KM  KMB  KMG  KMGB  KMI  KMRT  KMX  KNE  KO  KORS  KR  KRB  KRFT  KRI  KSE  KSS  L  LB  LCA  LDG  LDOS  LEE  LEG  LEH  LEI  LEN  LFIN  LH  LHX  LIFE  LIL  LIN  LIZ  LIZC  LK  LKQ  LKQX  LLTC  LLY  LM  LMC  LMT  LNT  LNX  LO  LOM  LOMK  LOW  LPX  LSI  LTBG  LTD  LTR  LU  LUK  LUMN  LUV  LVI  LVLT  LW  LXK  LYB  LYV  M  MA  MAA  MAC  MALTZ  MAR  MAS  MAY  MBF  MBI  MCAF  MCCRK  MCHP  MCO  MCRN  MD  MDLZ  MDM  MDP  MDR  MDT  MEA  MEC  MEDI  MEE  MEL  MEM  MER  MERQ  MERR  MES  MET  META  METV  MF  MFCB  MFE  MGCX  MGG  MGI  MGM  MHFI  MHK  MHP  MHS  MI  MIL  MIR  MJN  MKC  MKG  MKTX  MLM  MLSS  MMC  MMG  MMM  MMTCY  MN  MNK  MNS  MNST  MO  MOH  MOHK  MOLX  MON  MONE  MOS  MOT  MPC  MPN  MPTR  MPWR  MRIS  MRK  MRKT  MRNA  MRO  MS  MSCI  MSCS  MSFT  MSI  MSS  MTB  MTC  MTCH  MTD  MTG  MTON  MTWN  MU  MUR  MWD  MWHX  MWP  MWV  MWW  MXB  MXBIF  MXIM  MXM  MYG  MZ  N  NAV  NAVI  NB  NBL  NBR  NC  NCB  NCC  NCE  NCEB  NCLH  NCR  NDAQ  NDCO  NDSN  NE  NEE  NEM  NET  NETA  NEWM  NFB  NFBC  NFLX  NFX  NGH  NGL  NH  NHLI  NI  NIKE  NKE  NKTR  NLOK  NLSN  NME  NMK  NNEXF  NOB  NOBE  NOCO  NOI  NOV  NOVL  NOW  NRG  NRL  NSC  NSI  NSM  NSO  NSP  NSTK  NT  NTAP  NTRI  NTRS  NU  NVCR  NVDA  NVLS  NVR  NWL  NWS  NWSA  NX  NXL  NXPI  NXTL  NYT  NYX  O  OAT  OCF  ODEP  ODETA  ODETB  ODFL  ODP  OEC  OEH  OG  OGN  OI  OK  OKE  OKEN  OMC  OMCM  OMX  ONE  ORCL  ORSN  OSPR  OTIS  OWC  OXY  P  PA  PAH  PALM  PAR  PARA  PARAA  PAYC  PAYX  PBCT  PBG  PBR  PBY  PCAR  PCCW  PCG  PCH  PCL  PCLN  PCP  PCS  PCT  PD  PDCO  PDG  PE  PEAK  PEAKF  PEB  PEG  PENN  PEP  PETM  PFE  PFG  PG  PGL  PGN  PGR  PH  PHA  PHBK  PHM  PIC  PITLF  PKG  PKI  PKN  PLD  PLI  PLL  PLLL  PLMD  PLMO  PLU  PM  PMCS  PMTC  PNB  PNC  PNR  PNTA  POBR  POEA  POLY  POM  POOL  POWR  PP  PPE  PPG  PPL  PRD  PRGO  PRI  PRU  PSA  PSFT  PSG  PSR  PSX  PTC  PTR  PTV  PTW  PVH  PWER  PWJ  PWR  PX  PXMG  PYPL  Q  QCOM  QEP  QRVO  QTRN  QWST  R  RACK  RAD  RAI  RAIL  RAL  RATL  RATNY  RBK  RCHI  RCL  RD  RDC  RE  REG  REGN  REI  RESM  RF  RFMD  RGBK  RHAT  RHI  RHII  RHT  RIG  RII  RJF  RJR  RKY  RL  RLH  RLM  RMCI  RMD  RML  RN  ROC  ROH  ROK  ROL  RON  ROP  ROPR  ROST  ROV  RRC  RRD  RRI  RSG  RSH  RTN  RTX  RWIN  RX  S  SAF  SAFC  SAI  SANM  SAPE  SBAC  SBC  SBL  SBUX  SCE  SCG  SCH  SCHW  SCI  SCN  SCTTB  SDS  SE  SEBL  SEDG  SEE  SEG  SEQ  SERA  SFA  SGAT  SGI  SGIB  SGIC  SGM  SGNNY  SGP  SHLD  SHRE  SHW  SIAL  SIG  SIGGY  SIGY  SIGYY  SII  SIVB  SJM  SK  SKH  SKTV  SLB  SLCM  SLE  SLG  SLS  SMC  SMED  SMI  SMK  SMR  SMS  SNA  SNAT  SNB  SNDK  SNDT  SNI  SNPS  SNS  SNSTA  SNT  SNV  SO  SOAC  SOE  SOTR  SPAQ  SPC  SPGI  SPK  SPKE  SPLS  SPRU  SPYV  SRC  SRCL  SRE  SRL  SRUN  SRV  SSP  SSS  STA  STB  STBK  STCO  STCX  STG  STI  STJ  STJM  STLD  STPL  STR  STRY  STRZ  STT  STX  STZ  SUB  SUN  SUNE  SUSP  SV  SVEV  SVU  SWK  SWKS  SWN  SWY  SWZA  SXCL  SYF  SYK  SYMC  SYY  SZ  SZA  T  TAN  TAP  TCX  TDC  TDY  TE  TECH  TEG  TEK  TEL  TEN  TER  TERX  TEX  TFC  TFCF  TFCFA  TFX  TGNA  TGT  THC  THIN  THR  TIE  TIF  TIMT  TIN  TJX  TKR  TLAB  TMC  TMK  TMO  TMPW  TMRK  TMUS  TNB  TNL  TOS  TOY  TPR  TRB  TRIP  TRL  TRMB  TROW  TRV  TRW  TRY  TSCO  TSG  TSLA  TSN  TSO  TSS  TT  TTT  TTWO  TTY  TUGC  TUP  TWC  TWRS  TWTR  TWW  TWX  TXN  TXT  TXU  TYL  TYSNA  U  UA  UAA  UAL  UARM  UAUA  UCL  UCM  UDR  UDRT  UEP  UIS  UJB  UK  ULTA  UMG  UN  UNH  UNIH  UNIP  UNM  UNP  UNPH  UPC  UPR  UPS  URBN  URI  USAI  USAS  USB  USBC  USOS  UST  UT  UTX  UVN  UW  V  VAL  VAR  VFC  VIA  VIAB  VIAC  VIACA  VIAV  VICE  VICI  VLO  VMC  VNO  VNT  VO  VRDX  VRSK  VRSN  VRTX  VTRS  VTSS  VVI  VXS  VZ  W  WAB  WABC  WAG  WAMU  WAND  WAT  WATS  WB  WBA  WBD  WBN  WBR  WCG  WDC  WEC  WED  WEDC  WEH  WEN  WFC  WFM  WFMI  WFR  WHR  WIN  WINEA  WINEB  WLA  WLBC  WLL  WLP  WLTW  WM  WMB  WMI  WMIH  WMT  WMTT  WOR  WPH  WPI  WPO  WPS  WPX  WR  WRB  WRK  WSH  WST  WTHG  WTR  WTW  WW  WWY  WX  WY  WYE  WYN  WYND  WYNN  X  XEC  XEL  XL  XLNX  XMMO  XOM  XON  XRAY  XRX  XTO  XYL  XYX  XYYX  YHOO  YNR  YUM  Z  ZBH  ZBRA  ZMH  ZMX  ZTS

,permno,date,shrcd,ticker,comnam,dlprc,dlret,prc,vol,ret,shrout,annual_ret,market_cap
0,11334,1992-04-07,30.0,A,ATTWOODS PLC,NaN,NaN,10.87500,53100.0,-0.033333,14620.0,-0.515760,1.589925e+08
1,11334,1992-04-08,30.0,A,ATTWOODS PLC,NaN,NaN,10.50000,129300.0,-0.034483,14620.0,-0.532458,1.535100e+08
2,11334,1992-04-09,30.0,A,ATTWOODS PLC,NaN,NaN,11.25000,63400.0,0.071429,14620.0,-0.496397,1.644750e+08
3,11334,1992-04-10,30.0,A,ATTWOODS PLC,NaN,NaN,11.37500,54000.0,0.011111,14620.0,-0.490802,1.663025e+08
4,11334,1992-04-13,30.0,A,ATTWOODS PLC,NaN,NaN,11.25000,41600.0,-0.010989,14620.0,-0.496397,1.644750e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6213817,13788,2022-12-23,11.0,ZTS,ZOETIS INC,NaN,NaN,145.75999,1017856.0,0.005033,466072.0,-0.398839,6.793465e+10
6213818,13788,2022-12-27,11.0,ZTS,ZOETIS INC,NaN,NaN,145.30000,957871.0,-0.003156,466072.0,-0.407480,6.772026e+10
6213819,13788,2022-12-28,11.0,ZTS,ZOETIS INC,NaN,NaN,143.83000,1443916.0,-0.010117,466072.0,-0.409001,6.703514e+10
6213820,13788,2022-12-29,11.0,ZTS,ZOETIS INC,NaN,NaN,148.14999,1298851.0,0.030035,466072.0,-0.388432,6.904856e+10
6213821,13788,2022-12-30,11.0,ZTS,ZOETIS INC,0.0,A,146.55000,1249527.0,-0.010800,466072.0,-0.369186,6.830285e+10

# Task 4. Risk factor exposure dataset

- Importing data from kenneth french library
- Download the dataset as specified in the guide
- Run a multivariate OLS regression on each ticker for each year on the data

In [16]:
risk_factors = pd.read_csv('FF3_Factors.csv', skiprows=3)
unnamed_col = risk_factors.columns[0]
risk_factors['date'] = pd.to_datetime(risk_factors[unnamed_col], format='%Y%m%d')
risk_factors.drop(columns=[unnamed_col], inplace=True)
for col in risk_factors.columns:
    if col != 'date':
        risk_factors[col] = pd.to_numeric(risk_factors[col], errors='coerce')
        risk_factors[col] = risk_factors[col] * 0.01

risk_factors['Mkt-RF'].interpolate(method='linear', inplace=True)
risk_factors['SMB'].interpolate(method='linear', inplace=True)
risk_factors['HML'].interpolate(method='linear', inplace=True)
risk_factors['RMW'].interpolate(method='linear', inplace=True)
risk_factors['CMA'].interpolate(method='linear', inplace=True)
risk_factors['RF'].interpolate(method='linear', inplace=True)
risk_factors

       Mkt-RF     SMB     HML     RMW     CMA       RF       date
0     -0.0067  0.0002 -0.0035  0.0003  0.0013  0.00012 1963-07-01
1      0.0079 -0.0028  0.0028 -0.0008 -0.0021  0.00012 1963-07-02
2      0.0063 -0.0018 -0.0010  0.0013 -0.0025  0.00012 1963-07-03
3      0.0040  0.0009 -0.0028  0.0007 -0.0030  0.00012 1963-07-05
4     -0.0063  0.0007 -0.0020 -0.0027  0.0006  0.00012 1963-07-08
...       ...     ...     ...     ...     ...      ...        ...
15118  0.0025 -0.0023 -0.0079  0.0047 -0.0041  0.00022 2023-07-25
15119  0.0002  0.0087  0.0103 -0.0035  0.0065  0.00022 2023-07-26
15120 -0.0074 -0.0080  0.0027  0.0038  0.0014  0.00022 2023-07-27
15121  0.0114  0.0041 -0.0033 -0.0075 -0.0040  0.00022 2023-07-28
15122  0.0026  0.0099 -0.0010 -0.0093  0.0005  0.00022 2023-07-31

[15123 rows x 7 columns]

In [23]:
merged_df = pd.merge(annual_returns, risk_factors, how='left', on=['date'])
merged_df['date'] = pd.to_datetime(merged_df['date'])
merged_df

,permno,date,shrcd,ticker,comnam,dlprc,dlret,prc,vol,ret,shrout,annual_ret,market_cap,Mkt-RF,SMB,HML,RMW,CMA,RF
0,11334,1992-04-07,30.0,A,ATTWOODS PLC,NaN,NaN,10.87500,53100.0,-0.033333,14620.0,-0.515760,1.589925e+08,-0.0183,-0.0016,0.0078,-0.0006,0.0035,0.00015
1,11334,1992-04-08,30.0,A,ATTWOODS PLC,NaN,NaN,10.50000,129300.0,-0.034483,14620.0,-0.532458,1.535100e+08,-0.0108,-0.0049,0.0017,0.0031,-0.0053,0.00015
2,11334,1992-04-09,30.0,A,ATTWOODS PLC,NaN,NaN,11.25000,63400.0,0.071429,14620.0,-0.496397,1.644750e+08,0.0163,0.0009,-0.0068,0.0003,-0.0008,0.00015
3,11334,1992-04-10,30.0,A,ATTWOODS PLC,NaN,NaN,11.37500,54000.0,0.011111,14620.0,-0.490802,1.663025e+08,0.0073,-0.0018,0.0019,0.0004,0.0024,0.00015
4,11334,1992-04-13,30.0,A,ATTWOODS PLC,NaN,NaN,11.25000,41600.0,-0.010989,14620.0,-0.496397,1.644750e+08,0.0045,-0.0036,-0.0015,0.0048,0.0000,0.00015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6213817,13788,2022-12-23,11.0,ZTS,ZOETIS INC,NaN,NaN,145.75999,1017856.0,0.005033,466072.0,-0.398839,6.793465e+10,0.0051,-0.0034,0.0116,0.0086,0.0046,0.00016
6213818,13788,2022-12-27,11.0,ZTS,ZOETIS INC,NaN,NaN,145.30000,957871.0,-0.003156,466072.0,-0.407480,6.772026e+10,-0.0051,-0.0044,0.0142,0.0116,0.0122,0.00016
6213819,13788,2022-12-28,11.0,ZTS,ZOETIS INC,NaN,NaN,143.83000,1443916.0,-0.010117,466072.0,-0.409001,6.703514e+10,-0.0123,-0.0030,-0.0029,-0.0096,-0.0004,0.00016
6213820,13788,2022-12-29,11.0,ZTS,ZOETIS INC,NaN,NaN,148.14999,1298851.0,0.030035,466072.0,-0.388432,6.904856e+10,0.0187,0.0103,-0.0107,-0.0102,-0.0082,0.00016
6213821,13788,2022-12-30,11.0,ZTS,ZOETIS INC,0.0,A,146.55000,1249527.0,-0.010800,466072.0,-0.369186,6.830285e+10,-0.0022,0.0014,-0.0003,-0.0054,0.0000,0.00016

In [26]:
ticker_groups = merged_df.groupby('ticker')
ff3_factor_list = []

for ticker, tick_group in ticker_groups:
    df = tick_group.copy()
    df['year'] = df['date'].dt.year
    year_groups = df.groupby('year')
    
    for year, group in year_groups:
        if len(group) > 10:
            group_copy = group.copy()
            group_copy['ret'].interpolate(method='linear', inplace=True)
            Y = group_copy['ret'] - group_copy['RF']
            X = group_copy[['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA']]
            X = sm.add_constant(X)
            model = sm.OLS(Y, X).fit()
            coeff = model.params
            current_tuple = (ticker, year, coeff[0], coeff[1], coeff[2], coeff[3], coeff[4], coeff[5], len(group_copy))
            ff3_factor_list.append(current_tuple)
    print(f"{ticker} ", end=' ')
    
ff3_data = pd.DataFrame(ff3_factor_list, columns=['ticker', 'yyyy', 'a', 'bm', 'bsmb', 'bhml', 'brmw', 'bcma', 'N'])
ff3_data

A  AA  AAL  AAP  AAPL  AAS  ABBV  ABC  ABD  ABI  ABIG  ABK  ABMD  ABS  ABX  ACAD  ACAS  ACC  ACCOB  ACE  ACEE  ACGL  ACK  ACL  ACN  ACR  ACS  ACSA  ACT  ACV  ADBE  ADCT  ADM  ADNT  ADP  ADPT  ADSK  ADT  ADTL  AEE  AEP  AES  AESC  AET  AFA  AFL  AFS  AGC  AGL  AGN  AHA  AHAA  AHC  AHP  AIC  AIF  AIG  AIH  AIV  AIZ  AJG  AKAM  AL  ALD  ALGN  ALK  ALL  ALLE  ALM  ALPN  ALRE  ALT  ALTR  ALTX  ALXN  AMAT  AMB  AMCC  AMCR  AMCRY  AMD  AMED  AMER  AMG  AMGN  AMP  AMR  AMSG  AMSGA  AMT  AMZN  AN  ANDV  ANDW  ANET  ANF  ANG  ANL  ANR  ANSS  ANTM  AOC  AOL  AON  AOS  APA  APC  APCC  APD  APH  APOL  APTV  AQS  ARE  ARG  ARNC  ASD  ASH  ASHC  ASN  ASO  AT  ATC  ATG  ATGE  ATH  ATI  ATM  ATO  ATTW  ATVI  AUD  AV  AVB  AVGO  AVGP  AVY  AVZ  AW  AWE  AWIN  AWK  AXF  AXP  AYA  AYE  AYI  AYP  AZO  BA  BAC  BAX  BBK  BBT  BBWI  BBY  BC  BCC  BCR  BDX  BEAM  BEL  BEM  BEN  BER  BF  BFO  BGE  BGEN  BGG  BH  BHF  BHGE  BHI  BHR  BHY  BIG  BIIB  BIO  BJS  BK  BKB  BKLY  BKNG  BKR  BLI  BLK  BLL  BLS  BMC  BMCS  BMM  BMS  BMY  BNI  BNK  BODY  BR  BRCM  BRK  BRL  BRO  BSC  BSX  BTM  BTU  BU  BUD  BUTL  BVC  BVCC  BVFS  BVSN  BWA  BXP  BYA  BZC  C  CA  CAG  CALL  CAM  CAR  CARR  CAT  CB  CBE  CBG  CBH  CBI  CBNK  CBOE  CBRE  CBRNA  CBRNB  CBS  CBSS  CBZ  CC  CCE  CCEP  CCI  CCK  CCL  CCOM  CCR  CCU  CCUUY  CD  CDA  CDAY  CDB  CDG  CDN  CDNS  CDW  CE  CEFT  CEG  CELG  CEN  CEPH  CERN  CF  CFB  CFC  CFG  CFIP  CFK  CFN  CG  CGP  CHA  CHD  CHHC  CHK  CHL  CHOS  CHP  CHRW  CHTR  CHV  CI  CIEN  CIK  CIN  CINF  CIT  CITU  CL  CLF  CMA  CMB  CMCA  CMCSA  CMCSK  CME  CMI  CMS  CMT  CMVT  CMX  CMZ  CNC  CNP  CNS  CNT  CNTE  CNX  CNXC  CNXT  COBA  COC  COFI  COG  COH  COHU  COL  COMS  COO  COOP  COP  COPI  COST  COTY  COV  CPB  CPC  CPGX  CPL  CPN  CPQ  CPRI  CPRT  CPT  CPWR  CR  CRFC  CRL  CRM  CS  CSC  CSCO  CSPK  CSR  CSRA  CSX  CTA  CTAS  CTB  CTL  CTLT  CTRA  CTSH  CTVA  CTX  CTXS  CU  CUM  CVC  CVG  CVH  CVS  CVTY  CVX  CWE  CXO  CZN  CZR  CZT  D  DALN  DCN  DD  DDS  DE  DELL  DENRF  DF  DFS  DG  DGX  DH  DHI  DHR  DIS  DISCA  DJ  DL  DLPH  DLR  DLTR  DLX  DNB  DNR  DNY  DO  DOLR  DOW  DPH  DPS  DPSI  DPZ  DRE  DRHI  DRI  DTE  DTV  DUK  DURI  DV  DVA  DVN  DVRY  DWDP  DWG  DXC  DXCM  DYN  E  EA  EBIX  EC  ECL  ED  EDS  EDT  EEX  EFU  EFX  EGG  EGRP  EHC  EIX  EK  EKO  EL  ELV  EMN  EMR  ENDP  ENE  ENPH  EOG  EOP  EP  EPAM  EPG  EPHC  EQ  EQIX  EQR  EQT  ERI  ERTS  ES  ESRX  ESS  ESV  ET  ETE  ETFC  ETM  ETN  ETR  ETS  ETSY  EVHC  EVRG  EW  EWSC  EXC  EXPD  EXPE  EXR  F  FABC  FANG  FAST  FB  FBF  FBHS  FBS  FCX  FD  FDC  FDO  FDS  FDX  FE  FES  FFIV  FHI  FHN  FIGI  FII  FISV  FITB  FIVE  FL  FLIR  FLMN  FLR  FLS  FLT  FMC  FNG  FNM  FNP  FO  FOH  FON  FOSL  FOX  FOXA  FPC  FPL  FQA  FRC  FRE  FRT  FRX  FSH  FSL  FSR  FTEN  FTI  FTN  FTNT  FTR  FTU  FTV  FW  G  GAP  GART  GAS  GATE  GBLX  GCI  GCN  GD  GDI  GDT  GDW  GE  GEN  GENZ  GHC  GILD  GIS  GL  GLK  GLW  GM  GMCR  GME  GNG  GNRC  GNW  GOLD  GOOG  GOOGL  GP  GPC  GPN  GPS  GPU  GR  GRA  GRMN  GS  GSAH  GT  GTE  GTW  GWW  GX  H  HAL  HANS  HAR  HAS  HB  HBAN  HBCCA  HBI  HCA  HCBK  HCLP  HCN  HCP  HCR  HD  HDI  HES  HET  HFC  HFSB  HHH  HI  HIG  HII  HIMG  HISS  HLS  HLT  HM  HMA  HMAIA  HMT  HNZ  HOC  HOG  HOLX  HON  HOT  HOU  HP  HPC  HPE  HPH  HPQ  HRB  HRC  HRL  HRS  HSH  HSIC  HSNI  HSP  HST  HSY  HUM  HWM  HWP  IAC  IACI  IDID  IDL  IDNX  IDPH  IDX  IDXX  IEX  IFF  IGAM  IGT  IIN  IKN  IMA  IMNX  IMTN  INCY  INFO  INHL  INTC  INTU  INVH  IP  IPG  IPGP  IPI  IQV  IR  IRET  IRETS  IRM  ISRG  IT  ITG  ITI  ITT  ITW  IVC  IVGN  IVZ  J  JBHT  JBIL  JBL  JDSU  JEC  JEF  JEFG  JHF  JKHY  JNJ  JNPR  JNS  JNY  JOY  JOYG  JP  JPM  JWN  K  KAN  KATE  KBH  KDP  KEYS  KFT  KG  KHC  KHD  KHDH  KIM  KING  KLAC  KM  KMB  KMG  KMGB  KMI  KMRT  KMX  KNE  KO  KORS  KR  KRB  KRFT  KRI  KSE  KSS  L  LB  LCA  LDG  LDOS  LEE  LEG  LEH  LEI  LEN  LFIN  LH  LHX  LIFE  LIL  LIN  LIZ  LIZC  LK  LKQ  LKQX  LLTC  LLY  LM  LMT  LNT  LNX  LO  LOM  LOMK  LOW  LPX  LSI  LTBG  LTD  LTR  LU  LUK  LUMN  LUV  LVI  LVLT  LW  LXK  LYB  LYV  M  MA  MAA  MAC  MALTZ  MAR  MAS  MAY  MBI  MCAF  MCCRK  MCHP  MCO  MD  MDLZ  MDM  MDP  MDR  MDT  MEA  MEC  MEDI  MEE  MEL  MEM  MER  MERQ  MERR  MES  MET  META  MF  MFCB  MFE  MGCX  MGG  MGI  MGM  MHFI  MHK  MHP  MHS  MI  MIL  MIR  MJN  MKC  MKG  MKTX  MLM  MLSS  MMC  MMG  MMM  MMTCY  MNK  MNS  MNST  MO  MOH  MOHK  MOLX  MON  MONE  MOS  MOT  MPC  MPN  MPTR  MPWR  MRIS  MRK  MRKT  MRNA  MRO  MS  MSCI  MSCS  MSFT  MSI  MTB  MTC  MTCH  MTD  MTG  MTON  MTWN  MU  MUR  MWD  MWHX  MWP  MWV  MWW  MXB  MXBIF  MXIM  MXM  MYG  MZ  N  NAV  NAVI  NB  NBL  NBR  NC  NCB  NCC  NCE  NCEB  NCLH  NCR  NDAQ  NDCO  NDSN  NE  NEE  NEM  NET  NETA  NEWM  NFB  NFLX  NFX  NGH  NGL  NH  NHLI  NI  NKE  NKTR  NLOK  NLSN  NME  NMK  NOB  NOBE  NOCO  NOI  NOV  NOVL  NOW  NRG  NRL  NSC  NSI  NSM  NSO  NSP  NSTK  NT  NTAP  NTRI  NTRS  NU  NVCR  NVDA  NVLS  NVR  NWL  NWS  NWSA  NX  NXL  NXPI  NXTL  NYT  NYX  O  OAT  OCF  ODEP  ODETA  ODETB  ODFL  ODP  OEC  OEH  OG  OGN  OI  OK  OKE  OKEN  OMC  OMX  ONE  ORCL  ORSN  OTIS  OWC  OXY  P  PA  PAH  PALM  PAR  PARA  PAYC  PAYX  PBCT  PBG  PBR  PBY  PCAR  PCCW  PCG  PCH  PCL  PCLN  PCP  PCS  PCT  PD  PDCO  PDG  PE  PEAK  PEAKF  PEB  PEG  PENN  PEP  PETM  PFE  PFG  PG  PGL  PGN  PGR  PH  PHA  PHBK  PHM  PIC  PKG  PKI  PKN  PLD  PLI  PLL  PLMD  PLMO  PLU  PM  PMCS  PMTC  PNB  PNC  PNR  PNTA  POBR  POEA  POLY  POM  POOL  POWR  PPE  PPG  PPL  PRD  PRGO  PRI  PRU  PSA  PSFT  PSG  PSR  PSX  PTC  PTR  PTV  PVH  PWER  PWJ  PWR  PX  PXMG  PYPL  Q  QCOM  QEP  QRVO  QTRN  QWST  R  RACK  RAD  RAI  RAIL  RAL  RATL  RATNY  RBK  RCHI  RCL  RD  RDC  RE  REG  REGN  REI  RESM  RF  RFMD  RGBK  RHAT  RHI  RHT  RIG  RII  RJF  RJR  RKY  RL  RLH  RLM  RMCI  RMD  RML  RN  ROC  ROH  ROK  ROL  RON  ROP  ROPR  ROST  ROV  RRC  RRD  RRI  RSG  RSH  RTN  RTX  RWIN  RX  S  SAF  SAFC  SAI  SANM  SAPE  SBAC  SBC  SBL  SBUX  SCE  SCG  SCH  SCHW  SCI  SCN  SDS  SE  SEBL  SEDG  SEE  SEG  SEQ  SERA  SFA  SGAT  SGI  SGM  SGP  SHLD  SHRE  SHW  SIAL  SIG  SIGGY  SIGY  SIGYY  SII  SIVB  SJM  SKH  SKTV  SLB  SLCM  SLE  SLG  SLS  SMC  SMED  SMI  SMK  SMS  SNA  SNAT  SNB  SNDK  SNDT  SNI  SNPS  SNS  SNSTA  SNT  SNV  SO  SOAC  SOTR  SPAQ  SPC  SPGI  SPKE  SPLS  SPYV  SRCL  SRE  SRL  SRV  SSP  SSS  STA  STB  STBK  STCO  STCX  STI  STJ  STJM  STLD  STPL  STR  STRY  STRZ  STT  STX  STZ  SUB  SUN  SUNE  SUSP  SV  SVEV  SVU  SWK  SWKS  SWN  SWY  SYF  SYK  SYMC  SYY  SZ  SZA  T  TAN  TAP  TCX  TDC  TDY  TE  TECH  TEG  TEK  TEL  TEN  TER  TERX  TEX  TFC  TFX  TGNA  TGT  THC  THR  TIE  TIF  TIMT  TIN  TJX  TKR  TLAB  TMC  TMK  TMO  TMPW  TMRK  TMUS  TNB  TNL  TOS  TOY  TPR  TRB  TRIP  TRL  TRMB  TROW  TRV  TRW  TRY  TSCO  TSG  TSLA  TSN  TSO  TSS  TT  TTT  TTWO  TTY  TUP  TWC  TWRS  TWTR  TWW  TWX  TXN  TXT  TXU  TYL  TYSNA  U  UA  UAA  UAL  UARM  UAUA  UCL  UCM  UDR  UEP  UIS  UJB  UK  ULTA  UMG  UN  UNH  UNIH  UNIP  UNM  UNP  UNPH  UPC  UPR  UPS  URBN  URI  USAI  USAS  USB  USBC  USOS  UST  UT  UTX  UVN  UW  V  VAL  VAR  VFC  VIA  VIAB  VIAC  VIACA  VIAV  VICE  VICI  VLO  VMC  VNO  VNT  VO  VRDX  VRSK  VRSN  VRTX  VTRS  VTSS  VVI  VXS  VZ  W  WAB  WABC  WAG  WAMU  WAND  WAT  WATS  WB  WBA  WBD  WBN  WBR  WCG  WDC  WEC  WED  WEDC  WEH  WEN  WFC  WFM  WFMI  WFR  WHR  WIN  WINEA  WINEB  WLA  WLBC  WLL  WLP  WLTW  WM  WMB  WMI  WMIH  WMT  WMTT  WOR  WPH  WPI  WPO  WPS  WPX  WR  WRB  WRK  WSH  WST  WTHG  WTR  WTW  WW  WWY  WX  WY  WYE  WYN  WYND  WYNN  X  XEC  XEL  XL  XLNX  XMMO  XOM  XON  XRAY  XRX  XTO  XYL  XYX  YHOO  YNR  YUM  Z  ZBH  ZBRA  ZMH  ZMX  ZTS

,ticker,yyyy,a,bm,bsmb,bhml,brmw,bcma,N
0,A,1990,0.019199,5.398940,5.156488,1.574703,3.198284,7.863226,157
1,A,1992,0.000294,1.066527,1.391500,-0.562820,-0.966005,1.219890,186
2,A,1993,0.000002,0.656919,-0.215117,-0.343896,-0.995882,-0.013911,253
3,A,1994,-0.000066,0.594844,1.552662,0.647454,1.035515,-0.623604,252
4,A,1995,0.000858,0.359889,-0.638460,-1.555993,-0.167216,1.652512,47
...,...,...,...,...,...,...,...,...,...
25488,ZTS,2018,0.000796,1.032639,-0.060666,-0.399795,0.317066,0.382159,251
25489,ZTS,2019,0.000585,0.972148,-0.378005,-0.680267,-0.044829,0.671806,252
25490,ZTS,2020,0.000079,0.964689,-0.356079,-0.063188,-0.093462,-0.173928,253
25491,ZTS,2021,0.000971,0.805159,-0.269861,-0.236364,0.308382,-0.261732,252
25492,ZTS,2022,-0.000963,0.858658,-0.091876,-0.457583,0.345585,0.230311,251

# Task 5

In [27]:
compustat_df['ticker'] = compustat_df['tic']
compustat_df['date'] = pd.to_datetime(compustat_df['datadate'])
compustat_df.drop(columns=['ticker', 'datadate'])
comp_merged = pd.merge(compustat_df, merged_df, how='inner', on=['ticker', 'date'])
comp_merged

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,iid,datadate,...,ret,shrout,annual_ret,market_cap,Mkt-RF,SMB,HML,RMW,CMA,RF
0,1045,P,4,LC,21020,20010,2013-12-09,E,4,2022-08-24,...,0.012301,649846.0,-0.296983,9.091346e+09,0.0040,0.0052,-0.0062,-0.0144,-0.0048,0.00008
1,1045,P,4,LC,21020,20010,2013-12-09,E,4,2022-06-15,...,0.027799,649514.0,-0.402870,8.645031e+09,0.0155,-0.0002,-0.0165,-0.0020,-0.0113,0.00003
2,1045,P,4,LC,21020,20010,2013-12-09,E,4,2015-04-27,...,-0.015843,692799.0,0.471121,3.593548e+10,-0.0054,-0.0066,0.0056,0.0054,-0.0008,0.00000
3,1045,P,4,LC,21020,20010,2013-12-09,E,4,2017-08-11,...,-0.004119,487009.0,0.360012,2.354689e+10,0.0019,0.0017,-0.0087,0.0036,-0.0008,0.00004
4,1045,P,4,LC,21020,20010,2013-12-09,E,4,2019-12-02,...,-0.022965,438058.0,-0.282985,1.230067e+10,-0.0087,-0.0013,0.0048,0.0009,0.0020,0.00007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1426830,318728,P,1,LC,16496,55804,2016-12-09,2021-12-31,1,2021-11-18,...,0.004076,191970.0,1.006526,1.655165e+10,0.0006,-0.0076,-0.0007,0.0126,-0.0009,0.00000
1426831,318728,P,1,LC,16496,55804,2016-12-09,2021-12-31,1,2021-11-24,...,0.004502,191970.0,0.846263,1.627522e+10,0.0030,-0.0013,-0.0087,-0.0052,-0.0020,0.00000
1426832,318728,P,1,LC,16496,55804,2016-12-09,2021-12-31,1,2021-12-01,...,-0.010132,192142.0,0.772466,1.558079e+10,-0.0161,-0.0047,0.0111,0.0229,0.0074,0.00000
1426833,318728,P,1,LC,16496,55804,2016-12-09,2021-12-31,1,2021-12-17,...,0.008509,192142.0,0.936113,1.548665e+10,-0.0065,0.0147,-0.0233,-0.0170,-0.0037,0.00000
1426834,318728,P,1,LC,16496,55804,2016-12-09,2021-12-31,1,2021-12-23,...,0.029231,192142.0,1.015387,1.637242e+10,0.0071,0.0029,-0.0048,-0.0036,-0.0039,0.00000

### TBC